@{
    ViewData["Title"] = "Report";
}
@model IEnumerable<LapGenerator.Models.Report>

<h1>Average Lap Time GroupBy Driver Name</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AverageTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MaxTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MinTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LapCount)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AverageTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MaxTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MinTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LapCount)
                </td>
            </tr>
        }
    </tbody>
</table>